<div class="row">
  <div class="col" style="position: absoulte">
      <img src="assets/skytrak4x5.jpg" alt="">
      <div class="textOverImage">
      <h1>HELLO</h1>
    </div>
  </div>
  <div class="col">
    <p>Using the best golf simulator Skytrak, we are providing everything you would need to play your best round of golf, or see which friend can hit the farthest drive.  Whether it be for fun or competition this software is more than you will expect and better than you need. The technology shows accurate ball-flight and data to provide the most accurate shot such as ball speed, ball spin, club face angles, launch angles, and more to ensure every shot can be analyzed and properly placed down the fairway for your next birdy.​
    this text or probaly worded different will be placed between two pices of our technolgy</p>

  </div>
  <div class="col">
    <img src="assets/lcd-video-projector-business-conference-260nw-1011895630.jpg"alt="">
  </div>
</div>

​
