<div class="home-popup">
    <div class="home-popup__content">
        <p>popup works!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>


        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>
        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et consequuntur, dolorum aperiam illum officia reiciendis autem dicta minus adipisci a atque minima inventore. Ad accusamus laboriosam sed est velit suscipit!</p>


    </div>
</div>


