<div class="wrapper">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How does the SkyTrak launch monitor read my golf swing?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <h3>SkyTrak is a camera-based Monitor that captures High-speed images of the ball immediately after impact. The images are then used to measure parameters necessary to render shot shape and carry distance.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What can SkyTrak tell me about my golf swing?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <h3>Skytrak Captures and displays accurate flight data including Ball speed, launch angle, side spin, back spin, side angel and more.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I Play in the dark?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Yes. It works best in a shaded area for the sensors to see the ball.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Where are you located?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>We are setup in Heart State Brewing Co. and able to travel anywhere in Columbus and central Ohio.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Do I need my own golf Clubs?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>We will have a complimentary set for you; however, you’re welcome and encouraged to bring your own golf clubs.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I change Weather conditions?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>SkyTrak enables you to input a series of desired and environmental factors such as weather and golf course conditions.</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How many players can we have?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>4 players at a time to play a scored golf courses, but for fun on the driving range or golf course as many as you want!</h3>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How are leagues scored?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>The leagues are scrambles, meaning you use the best shot between teammates for each stroke.</h3>
    </mat-expansion-panel>



  </mat-accordion>
</div>
