<div class="whatweoffer">
  <h1>Suburban Swings</h1>
  <h2>What we offer</h2>
</div>

<div class="what-we-offer--content">
  <img class="what-we-offer--content-img" src="/assets/what-we-offer-img-min.jpg" alt="">
  <div class="what-we-offer--content-text">
    <h2>
      <b>Golf Simulators on the move in central Ohio.</b>
    </h2>
    <p class="about-us--shortDesc">
      We bring our entertainment
      system directly to your location or event. We offer
      a variety of packages including hourly rentals or leagues.
      With hundreds of beautiful courses
      to play, driving range features, closest to the pin
      contests and more, you and your guests will be
      entertained throughout your use. ​
    </p>

  </div>
</div>

<app-about-us-grid></app-about-us-grid>
