/* .what-we-offer--content {
  padding-left: 15rem;
  padding-right: 15rem;
}

.what-we-offer--flex {
  display: flex;
  flex-direction: row;
}

.what-we-offer--content-img {
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}

.what-we-offer--content-text {
  padding: 30px;
} */
/* 
@media screen and (max-width: 1400px) {
  .what-we-offer--flex {
    flex-direction: column !important;
  }
} */
