mat-form-field, input {
  width:100%
}

mat-form-field, textarea {
  width:100%
}

mat-card {
  /* width: 400px; */
  margin-top: 30px;
}

.contactContainer {
  width: 400px;
  margin: 25px auto;
  margin-bottom:0;
}

/* ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
background-color: white !important;
color: white !important
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
color: white;
} */

.submitButton {
  position: relative;
  left:65%;
  bottom: 0%
}

@media screen and (max-width: 700px) {
  .contactContainer {
    width:90%;
    position: relative;
    top: 10%;
    margin: 0 5%;
    /* height: 10%; */
    /* position: relative; */
    /* display: none */
  }
}
