.past-events {
    padding-left: 15rem;
    padding-right: 15rem;


    @media only screen and (max-width: $bp-largest) {
        padding-left: 5rem;
        padding-right: 5rem;
    }


    &__card {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }

    &__img {
        border-radius: 5px;
        height: 30rem;
        object-fit: cover;
    }

    &__text {
        margin: auto;
    }
}