<div class="about-us-grid-wrapper">
  <div class="row text-center no-gutters about-us--grid--top-row">
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--top-row--item">
      <p class="about-us--grid--header">
        Portable
      </p>
      <p class="about-us--grid--content">
        We bring our golf simulators to your event for hours of fun. All you have to do is have a great time.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--top-row--item">
      <p class="about-us--grid--header">
        Accurate
      </p>
      <p class="about-us--grid--content">
        Our camera and software tracks every stroke you take and displays it's flight through the course.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--top-row--item">
      <p class="about-us--grid--header">
        Fun
      </p>
      <p class="about-us--grid--content">
        Hundreds of courses and mini-games to play on provides nearly limitless options for you and your guests.
      </p>
    </div>
  <!-- </div> -->
  <!-- <div class="row text-center"> -->
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--bottom-row--item">
      <p class="about-us--grid--header">
        Parties
      </p>
      <p class="about-us--grid--content">
        Let us bring our simulator to your event so you can have a great golfing experience in the comfort of your home.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--bottom-row--item">
      <p class="about-us--grid--header">
        Tournaments
      </p>
      <p class="about-us--grid--content">
        Join one of our many events planned at some of our favorite breweries in the Columbus area.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 cold-sm-6 about-us--grid--item about-us--grid--bottom-row--item">
      <p class="about-us--grid--header">
        League
      </p>
      <p class="about-us--grid--content">
        Looking to commit to a longer golfing experience? Then sign up for one of our 8-week leagues with a friend.
      </p>
    </div>
  </div>

</div>
