

.wrapper{
  /* display: flex;
  position: relative;
  width:100%; */
}

.sidebar{
  /* width: 15rem;
  height: 100%;
  padding-top: 0px;
  position: fixed; */
  background-color: #057a82;
  margin: 0;
  padding: 30px 0px;
  padding-top: 0;
  width: 240px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  padding: 0;
  text-align: center;
}

.sidebar ul li{
  /* border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05); */
  list-style-type: none; /* Remove bullets */
  margin-top: 32px;
  text-align:center;
}

.sidebar ul li a{
  margin: 15px;
  margin-left: 40px;
  color: #b6e0e2;
  display: block;
  text-decoration: none;
  width: min-content;
  font-size: 24px;
  white-space: nowrap;
  font-weight: bold;
}
.sidebar ul li a:hover{
  color: black;
}
.sidebar ul li:hover{
  /* background-color: #0799a3; */
  color: #fff;
}

.sidebar .social_media{
  position: absolute; /* Change this to absolute when list grows */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.sidebar .social_media a{
  display: block;
  /* width: 40px; */
  background: #057a82;
  /* height: 40px; */
  line-height: 55px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.main_content{
  /* width: 100%;
  margin-left: 15rem; */
  margin-left: 240px;
  /* height: 1000px; */
  /* overflow: hidden; */
  background-color: #dedede;
}


.main_content .header{
  padding: 20px;
  background: #057a82;
  color: #b6e0e2;
  position: sticky;
  top: 0;
  margin-top:0;
  z-index: 5;

  transition: top 0.3s ease-in-out;
}

.main_content .info{
  color: #717171;
  line-height: 25px;
  overflow: hidden;
  /* background: #858181; */
  min-height: calc(100vh - 60px);

}

.main_content .info div{
  margin-bottom: 20px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh
    /* display: none */
  }
  div.main_content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar ul li a {
    text-align: left;
    white-space: nowrap;
    float: none;
    width: 100%;
  }

}

fa-icon {
  margin: 10px;
}

.header p {
  margin: 0;
  font-size: 16px;
}
