
<div class="wrapper">
  <div class="sidebar">
      <img style="width: 100%" src="assets/heck.png" alt="">
      <h2>Suburban Swings</h2>
      <ul>
          <li><a routerLink="/" (click)="onNavigate('home')"><i class="fas fa-home"></i>Home</a></li>
          <li><a routerLink="/about-the-tech" (click)="onNavigate('tech')"><i class="fas fa-user"></i>Tech shit</a></li>
          <li><a routerLink="/booking" (click)="onNavigate('booking')"><i class="fas fa-address-card"></i>Booking</a></li>
          <li><a routerLink="/league-play" (click)="onNavigate('league')"><i class="fas fa-project-diagram"></i>La liga</a></li>
          <li><a href="#"><i class="fas fa-blog"></i>Customers with hot wives</a></li>
          <li><a routerLink="/ContactUs" (click)="onNavigate('contact')"><i class="fas fa-address-book"></i>Contact</a></li>
      </ul>
      <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
    <div class="main_content">
        <div class="header">{{ toolbarText }}</div>
        <!-- <div class="header" *ngIf="toolbar === 'tech'">Learn about our tech!</div> -->

        <div class="info">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>
