<div class="navigation" [ngClass]="{'navigation--show' : showNav && mobile }">
  <div class="navigation__image">
    <img style="width: 100%" src="assets/natlogo-min.png" alt="">
    <div *ngIf="userIsAuthenticated && (!mobile || showNav)" class="navigation__account-page">
      <svg class="navigation__account-page--svg"  (click)="changeRoute('Account')" >
        <use xlink:href="assets/sprite.svg#icon-user"></use>
      </svg>

    </div>
    
  </div>
  
  <ul class="side-nav">
    <li class="side-nav__item" routerLinkActive="side-nav__item--active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" (click)="onNav()" class="side-nav__link">Home</a></li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active"><a routerLink="/Booking" (click)="onNav()" class="side-nav__link">Booking</a></li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active"><a routerLink="/Events" (click)="onNav()" class="side-nav__link">Events</a></li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active"><a routerLink="/ContactUs" (click)="onNav()" class="side-nav__link">Contact</a></li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active"><a routerLink="/FAQ" (click)="onNav()" class="side-nav__link">FAQ</a></li>
  </ul>

  
  <div class="bottom-buttons">
    
    </div>
</div>
<svg class="nav-button" *ngIf="mobile" (click)="showNav = !showNav" >
  <use xlink:href="assets/sprite.svg#icon-menu"></use>
</svg>
<div class="content" [ngClass]="{'content--hide' : showNav && mobile}">

  <div class="info">
    <router-outlet></router-outlet>
  </div>


</div>
