<!-- <mat-card>

</mat-card> -->
<h1 style="text-align: center;">Heart State Walk-in Prices</h1>
<div >
  <table>
    <tr>
      <th>Time</th>
      <th>Cost</th>
    </tr>

    <tr>
      <td>0.5 Hours</td>
      <td>$15</td>
    </tr>

    <tr>
      <td>1 Hour</td>
      <td>$30</td>
    </tr>

    <tr>
      <td>1.5 Hours</td>
      <td>$45</td>
    </tr>

    <tr>
      <td>2 Hours</td>
      <td>$60</td>
    </tr>

    <tr>
      <td>2.5 Hours</td>
      <td>$75</td>
    </tr>

    <tr>
      <td>3 Hours</td>
      <td>$90</td>
    </tr>


  </table>

</div>
