<div class="past-events">
    <h1 class="heading">Past Events</h1>

    <div class="past-events__card">
        <img class="past-events__img" src="assets/ASK-min.jpg" alt="" >
        <p class="paragraph past-events__text">
            This weekend we had an event with ASK Chemicals where we entertained their clients outside of the Huntington field house on the turf in the brand new Lower.com stadium home of the Columbus Crew. We helped leave an ever-lasting impression on the vendors and reps ASK was hosting. We held 2 types of competitions: longest drive, and closest to the pin, both events drew a large crowd waiting for their chance to swing. Our favorite part was when the Crew Cat (the Columbus Crew mascot) came out and jumped in our longest drive competition. The event is a great example of how we can impress your clients on your behalf. 
        </p>
    </div>

    <div class="past-events__card"> 
        <img class="past-events__img" src="assets/Colliers-min.JPG" alt="" >
        <p class="paragraph past-events__text">
            This week we held an event in the 65E State St building located in downtown Columbus for Colliers International on the 23rd floor! The event featured an amazing view of the Columbus skyline! Colliers International was displaying their beautiful space to a group of brokers, with the goal of finding a new tenant to lease the large space. Our mission was to leave a tasteful and memorable use for the space to help the brokers pitch this location to potential tenants. During our closest to the pin competition this event marked itself in our history books. One of the brokers hit a hole in one which just so happens to be our first ever hole in one on Pebble Beach! Yes, Pebble beach even in Columbus!
        </p>
    </div>

    <div class="past-events__card"> 
        <img class="past-events__img" src="assets/Bluffton-min.PNG" alt="" >
        <p class="paragraph past-events__text">
            Bluffton University Homecoming Football Game Lets Go Beavers! This weekend we entertained students and fans with our portable golf simulator set-up right inside the stadium. A large portion of students at Bluffton are athletes and we wanted to see who the best 2 sport athlete was. This event was a great tailgating activity for everyone to enjoy before watching their beloved Beavers play. The whole community came out for this one and we had a great time alongside various food trucks, bounce houses, and even a zipline. 
        </p>
    </div>

    <div class="past-events__card"> 
        <img class="past-events__img" src="assets/Ruscilli-min.JPG" alt="" >
        <p class="paragraph past-events__text">
            Ruscilli Construction was a golfer's dream event. We held it during the memorial golf tournament at Muirfield. Suburban swings set up at Ruscillis HQ letting employees play golf on the simulator as they waited for a bus to take them to the memorial golf tournament. It was a great outdoor event where employees and their families could have some fun. 
        </p>
    </div>

    <div class="past-events__card"> 
        <img class="past-events__img" src="assets/Gmtech-1-min.jpg" alt="" >
        <p class="paragraph past-events__text">
            We helped G Mechanical thank their employees for 30 years of successful business. We set up outside their building (right off 71) while they had a big party. Employees and their families competed in a highly competitive closest to the pin competition, where the prize was a flat screen TV! The event came shortly after a previous event we did with G mechanical to help raise money for A Kid Again.
        </p>
    </div>

    <div class="past-events__card"> 
        <img class="past-events__img" src="assets/Gmech-Charity-min.JPG" alt="" >
        <p class="paragraph past-events__text">
            G Mechanical invited us to set up right next to the first hole at their charity golf event benefiting A Kid Again. We all sold raffle tickets and hosted fun mini games raising money for the charity. We also donated a free 4-hour time slot to the winners of the raffle. It was great to see the huge amount of support from all the golfers. Our raffle ended up raising $670 which was all donated to A Kid Again.
        </p>
    </div>

</div>