<app-event-countdown *ngIf="paymentStep" [expireTime]="expireTime"></app-event-countdown>

<div class="event__form">
  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  <div *ngIf="!isLoading">
    <h2>{{eventName}} Signup Form:</h2>
    <form (submit)="onConfirm()" [formGroup]="form" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <input matInput formControlName="teamName" placeholder="Team Name" type="text">
      </mat-form-field>


      <div class="row justify-content-around">
        <div class="col-sm-5 col-md-5">
          <mat-form-field>
            <mat-label>Desired Day</mat-label>
            <mat-select formControlName="selectedDay" panelClass="selectClass">
              <mat-option *ngFor="let availableDay of availableDays" [value]="availableDay" panelWidth="100px">{{availableDay}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-5 col-md-5 ">
          <mat-form-field>
            <mat-label *ngIf="!this.form.value.selecteDay">Select A Day First</mat-label>
            <mat-label *ngIf="this.form.value.selecteDay">Desired Time</mat-label>
            <mat-select formControlName="selectedTime">
              <mat-option *ngFor="let availableTime of availableSelectedDayTimes" [value]="availableTime">{{availableTime}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="teamMembers row justify-content-around">
        <div class="col-sm-5">
          <h1>Team Member 1</h1>
          <mat-form-field>
            <input type="text" formControlName="tMem1Name" placeholder="Member Name" matInput>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="tMem1Email" placeholder="Email" type="text">
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="tMem1Phone" appPhoneMask placeholder="Phone Number" type="text">
          </mat-form-field>
        </div>

        <div *ngIf="eventInfo.setupAndRules.playersPerTeam === 2" class="col-sm-5">
          <h1>Team Member 2</h1>
          <mat-form-field>
            <input type="text" formControlName="tMem2Name" placeholder="Member Name" matInput>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="tMem2Email" placeholder="Email" type="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="tMem2Phone" appPhoneMask placeholder="Phone Number" type="text">
          </mat-form-field>
        </div>
      </div>

      <!-- <button mat-button color="accent" type="submit">Confirm</button> -->

    </form>
    <mat-spinner *ngIf="paymentIntentLoading" color="accent"></mat-spinner>
    <div *ngIf="!paymentIntentLoading" class="event__form--stripe">
      <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
          <ngx-stripe-payment 
            (change)="formChange($event)"
            [clientSecret]="clientSecret">
          </ngx-stripe-payment>
          <!-- formGroup="stripeForm"  -->
      </ng-container>
      <div class="event__form--submit u-center-text">
          <!-- <button class="btn btn--blue" (click)="onSignUp()">Sign Up</button> -->
          <button [ngClass]="teamStep ? 'btn btn--blue' : 'btn btn--disabled'" [disabled]="!teamStep"  *ngIf="teamStep" (click)="onSignUp()">Sign Up</button>
          <!-- [ngClass]="{'navigation--show' : showNav && mobile }" -->
          
          <button class="btn btn--pink" *ngIf="paymentStep" (click)="pay()">Pay Up</button>

      </div>
  
    </div>
  </div>

  <!-- <app-stripe-form></app-stripe-form> -->

  <!-- <app-stripe-payment></app-stripe-payment> -->
  <div class="disclaimer"  *ngIf="!isLoading">
    <!-- <img src="assets/Untitled.png" alt=""> -->
    <mat-card style="border: red 1px solid">
      <p class="disclaimerHeader">Disclaimer</p >
      <p>Both players on the team have to swing with the same handedness (righty or lefty) due to how the simulator is set up.</p>



    </mat-card>
  </div>

</div>
