
<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-5">
    <mat-card class="eventCard">
      <h2 style="margin: 1rem;"></h2>
      <p class="eventHeader">
        {{eventElement.name}}
      </p>
      <p class="eventLocation">
        At {{eventElement.location.name}}
      </p>
      <div class="teamSizeandPrice">
        <h3 style="margin: 1rem;">Teams of {{eventElement.setupAndRules.playersPerTeam}}</h3>
        <h3 style="margin: 1rem;">${{eventElement.price}} per team</h3>
      </div>
      <p class="eventDates">
        {{ eventElement.startDate | date }}
        -
        {{ eventElement.endDate | date }}
      </p>
      <p class="gameSetup">
        {{eventElement.summaryText}}

      </p>


      <div class="imgContainer">
        <!-- <img src="assets/nocterra-outside-min.jpg" alt="" style="width:100%; overflow: hidden;"> -->
        <img src="assets/Moth_Cup_4x3-min.jpg" alt="" style="width:100%; overflow: hidden;">

        <button (click)="onGoToSignup()" mat-raised-button color="primary" class="eventSignUpButton">Sign Up</button>
      </div>
    </mat-card>

  </div>
</div>
