<div class="event-details--wrapper">
  <div class="details--flex">
    <div class="details--box">
      <div class="details--box--header">
        <p>League</p>
        <div class="details--box--content">
          <ul class="content-list">
            <li class="content-list-item">8-12 weeks long?</li>
            <li class="content-list-item">Teams of two players</li>
            <li class="content-list-item">Hosted in a brewery</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="details--box">
      <div class="details--box--header">
        <p>Tournament</p>
        <div class="details--box--content">
          <ul class="content-list">
            <li class="content-list-item">Multi Day Events</li>
            <li class="content-list-item">Teams of two players</li>
            <li class="content-list-item">One round per team</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="details--box">
      <div class="details--box--header">
        <p>Rentals</p>
        <div class="details--box--content">
          <ul class="content-list">
            <li class="content-list-item">Let us bring it to you</li>
            <li class="content-list-item">Home or venue</li>
            <li class="content-list-item">BYOB Baby</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
