

<div class="booking2">
    <div class="booking2__header">
        <div class="booking2__header--images">
            <div class="booking2__header--image-container">
                <img class="booking2__header--image" src="assets/hero1-1.jpg" alt="">
                <p class="booking2__header--option-text">GrizzlyBird Rental</p>
            </div>
            <div class="booking2__header--image-container">
                <img class="booking2__header--image" src="assets/grillchill.jpg" alt="">
                <p class="booking2__header--option-text">Mobile Rentals</p>
            </div>

        </div>
    </div>
</div>