<div class="reviews">
  <div class="reviews__heading u-center-text">
    <h2 class="heading-secondary">Hear from our satisfied partners</h2>
  </div>
  <div class="review">
    <div class="review__heading u-center-text">
      <h3 class="review__name u-margin-bottom-small">
        GrizzlyBird Brewing Company
      </h3>
    </div>
    <p class="review__text">Nate and Emerson were great to work with! They took care of all the arrangements, were amazing with our customers, and couldn’t have been more professional. We loved hosting the Grizzlybird Open, and we can’t wait to partner with Suburban Swings again! </p>

    </div>
</div>
