<div class="account-events">
    <div class="account-events__section account-events__current">
        <p class="account-events__label">Current Events</p>

        <p class="account-events__no-events">You have no currently active events</p>
    </div>

    <div class="account-events__section account-events__upcoming">
        <p class="account-events__label">Upcoming Events</p>
        <p class="account-events__no-events">You have no upcoming events</p>
    </div>

    <div class="account-events__section account-events__past">
        <p class="account-events__label">Past Events</p>
        <p class="account-events__no-events">You have no past events</p>
        
    </div>

</div>