.descList {
  /* margin: 0 100px; */
}

.descItem{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 35px;
}

.descImg {
  width: 420px;
  margin:0;
  height: 100%;
}

/* img {
  float: left;
} */

.descWords {
  padding: 10px;
  margin-left: 45px;

}

.descWords p {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}
