<!-- <div class="descList">
  <div class="descItem">
    <div class="descImg">
      <img src="assets/SwingScreen.jpg" alt="" style="width:700px;">
    </div>
    <div class="descWords">
      <p>

      </p>
    </div>
  </div>
  <div class="descItem" style="width: 100%;">
    <div class="descImg">
      <img src="assets/setup_headon.jpg" alt="" style="width:420px;">
    </div>
    <div class="descWords">
      <p>
        Our equipment projects the game on to a 165 inch shock-absorbing screen so you can feel like you are really there to hit the ball and watch it fly through the course.
      </p>
    </div>
  </div>
  <div class="descItem">
    <div class="descItem" style="width: 100%;">
      <div class="descImg">
        <img src="assets/setup_blur.jpg" alt="" style="width:420px;">
      </div>
      <div class="descWords">
        <p>Now you can play golf from the comfort of your own home. Got like a ton of cool fun games to be played, at hundreds of the best golf courses in the world.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="descList" style="width: 100%; position: relative;">
  <div class="container">
    <div class="column">
      <div class="descItem">
        <div class="descImg">
          <img src="assets/SwingScreen.jpg" alt="">
        </div>
        <div class="descWords">
          <p>Accurate Golf Game Play</p>
        </div>
      </div>
      <div class="descItem">
        <div class="descImg">
          <img src="assets/setup_blur.jpg" alt="" >
        </div>
        <div class="descWords">
          <p>Analyzed Golf Swings On Every Shot</p>
        </div>
      </div>

    </div>
    <div class="column">
      <!-- <div class="filler">

      </div> -->
      <div class="descItem">
        <div class="descImg" style="width: 100%">
          <img src="assets/setup_headon.jpg" alt="" >
        </div>
        <div class="descWords">
          <p>14 Foot Screen</p>
        </div>
      </div>

    </div>
  </div>
</div>
