<div class="container">
  <div class="leagueHeader">
    <mat-card class="header">
      <h1><span class="company">Suburban Swings</span> Golf League</h1>
      <h2>Hosted by Heart State Brewing Company</h2>
      <h3>True-To-Style & Rule Bending Brews</h3>
      <h3>Beginning February, 2nd</h3>
      <h3>8 Week League</h3>

    </mat-card>
  </div>
  <h2>Tee Times</h2>
  <mat-card class="teeTimeCard">
    <div class="teeTime">
      <h2 style="margin-bottom: 0px;">Wednesdays & Thursdays</h2>
      <div style="white-space: nowrap; display: flex; justify-content: space-between;">
        <h3>3:00 PM</h3>
        <h3>To</h3>
        <h3>10:00 PM</h3>
      </div>

      <!-- <div style="display: flex; justify-content: space-between;">
        <h3>6pm-8pm</h3>
        <h3>&</h3>
        <h3>8pm-10pm</h3>
      </div> -->
      <h2 style="margin-bottom: 0px;">Sunday</h2>
      <div style="white-space: nowrap; display: flex; justify-content: space-between;">
        <h3>12:00 PM</h3>
        <h3>To</h3>
        <h3>10:00 PM</h3>
      </div>
      <!-- <h3 style="text-align: left;">6pm-8pm <span style="float: right;">8pm-10pm</span></h3> -->
      <p>750 Cross Pointe Rd, Columbus OH, 43230</p>
    </div>
  </mat-card>

  <h2>Teams</h2>
  <mat-card>
    <h3 style="margin-bottom: 0px;">Teams consist of 2 Players</h3>
    <h3 style="margin-bottom: 0px;">$400 per team</h3>

  </mat-card>

  <a routerLink="/League/SignUp">
    <button mat-raised-button color="primary" style="margin-top: 20px; font-size: 24px; padding: 10px 15px;">Sign Up!</button>

  </a>
</div>
