<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
<fa-icon size=10x [icon]="faBong"></fa-icon>
