
<div class="VideoWrapper" style="position:relative">
  <div class="VideoDiv">
    ​<video class="MainVideo" [muted]="true" preload="auto" autobuffer autoload [autoplay]="true" loop playsinline>
      <source src="assets/Pexels Videos 2711134.mp4">
    </video>
    <!-- <h1 class="VidTitle" style="">Suburban Swangs</h1> -->
    <img src="assets/SSOrbitronWhite.png" alt="" class="VidTitle" style="color:white;">
    <h2 class="VidFooter" style="">Golf Simulators On The Move</h2>
    <button class="VideoButton" routerLink="/booking" mat-raised-button color="primary">Rentals & Booking</button>
  </div>
</div>

<hr style="color: #0799a3; background-color: #0799a3; height: 10px; margin: 60px 0;">

<div class="BelowVideo">
  <div class="whatweoffer">
    <h1>Suburban Swings</h1>
    <h2>What we offer</h2>
  </div>
  <h2>
    <b>Suburban Swings: Golf Simulators on the move</b>. We will bring the entertainment <del>for your event</del> directly to you with complete setup to ensure everything works fantastic. With hundreds of beautiful courses to play, driving range features, closest to the pin contests and more, you and your guests will be entertained for hours. ​
  </h2>

  <app-skytrak-description></app-skytrak-description>



<!-- <app-carousel>

</app-carousel> -->


</div>
