
<div class="VideoWrapper" style="position:relative">
  <div class="VideoDiv">
    ​<video class="MainVideo" [muted]="true" preload="auto" autobuffer autoload [autoplay]="true" loop playsinline>
      <source src="assets/Pexels Videos 2711134.mp4">
    </video>
    <!-- <h1 class="VidTitle" style="">Suburban Swangs</h1> -->
    <img src="assets/SSOrbitronWhite.png" alt="" class="VidTitle" style="color:white;">
    <h2 class="VidFooter" style="">Golf Simulators On The Move</h2>
    <button class="VideoButton" routerLink="/booking" mat-raised-button color="primary">RENT IT NOW</button>
  </div>
</div>

<hr style="color: #0799a3; background-color: #0799a3; height: 10px; margin: 60px 0;">

<div class="BelowVideo" style="margin-top: 80px;">
  <h2>
    Suburban Swings, Golf simulators on the move. We will bring the entertainment for your event directly to you with complete setup to insure everything works fantastic. With hundreds of beautiful courses to play, Driving range features, closest to the pin contests and more you and your guests will be entertained for hours. ​

  </h2>

<div style="display: inline-block">
  <img src="assets/skytrak4x5.jpg" alt="" style="width:420px;">
  <h2 style="float:right;">Skytrak is so COOOOOOL</h2>
</div>

<!-- <app-carousel>

</app-carousel> -->


  <h1>Golf courses is for nerds, yo</h1>
  <h2>Get you a golf simulator on the go</h2>

</div>
