<h2>
  Suburban Swings, Golf simulators on the move. We will bring the entertainment for your event directly to you with complete setup to insure everything works fantastic. With hundreds of beautiful courses to play, Driving range features, closest to the pin contests and more you and your guests will be entertained for hours. ​

</h2>
​
<app-carousel></app-carousel>
<hr style="color: #0799a3; background-color: #0799a3; height: 10px">
<h2>
  (sounds like info commercial)  Want to golf in the leisure of your own home? Maybe you want to work on your driving. Well Suburban Swings has you covered. We want to make golf as easy and seamless as possible for you. We will bring the entertainment right to your door and we will with completely setup the device and accessories to insure you and your guests are ready to go. ​
</h2>
​
one of the two pargraphs will be under the viedo that’s on an endless loop devided by a blue line(color scheme) ​



<h1>Golf courses is for nerds, yo</h1>
<h2>Get you a golf simulator on the go</h2>
